---
layout: default
title: Home
---

<div id="about" class="jumbotron jumbotron-custom">
  <h1>About</h1>
  Engineers Without Borders is an international organization which strives to develop bottom-up sustainable growth at the community level in the developing world. With over 12,000 members, and 350 projects in 45 different countries, EWB has had a profound impact on the lives of millions of people around the world. EWB-USA UIUC is one of the largest Engineers Without Borders student chapters in the USA. Founded in 2004, the chapter has grown to include three international programs in Nigeria, Guatemala and Cameroon, and over 150 active members. Although the projects constitute the heart and soul of our EWB vision, our chapter looks forward to future growth in many diverse areas. These include the development of new curriculae focused on international development through the College of Engineering, and the creation of chapter-wide workshops and training seminars. The bottom line? You don’t need to be an engineer to make a significant difference in our chapter!
  <br>
  <h2>Our Vision</h2>
  A world in which the communities we serve have the capacity to sustainably meet their basic human needs, and where our members have enriched global perspectives through their interactions with EWB-USA initiatives.

  <br>
  <h2>Our Mission</h2>
Engineers Without Borders promotes community-driven engineering projects fostered by local partners for a sustainable global future. We foster leadership and personal growth within our student members through the transformative experiences embedded in our projects.

  <br>
  <div class="page-header">
    <h2>Our Projects</h2>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="{{ site.baseurl }}public/img/NVP_Cultural_Immersion.jpg" alt="">
        <div class="caption">
          <h3>Soppo Likoko <br><small>Electricity Project</small></h3>
          <h4><span class="glyphicon glyphicon-map-marker"></span>Likoko, Cameroon</h4>
          <p><a href="{{ site.baseurl }}slep" class="btn btn-default" role="button">Learn More</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="{{ site.baseurl }}public/img/NVP_Cultural_Immersion.jpg" alt="">
        <div class="caption">
          <h3>Guatemala <br><small>Water Project</small></h3>
          <h4><span class="glyphicon glyphicon-map-marker"></span>Socorro, Guatemala</h4>
          <p><a href="{{ site.baseurl }}gwp" class="btn btn-default" role="button">Learn More</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="{{ site.baseurl }}public/img/NVP_Cultural_Immersion.jpg" alt="">
        <div class="caption">
          <h3>Nigeria <br><small>Water Project</small></h3>
          <h4><span class="glyphicon glyphicon-map-marker"></span>Adu Achi, Nigeria</h4>
          <p><a href="{{ site.baseurl }}nwp" class="btn btn-default" role="button">Learn More</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="{{ site.baseurl }}public/img/NVP_Cultural_Immersion.jpg" alt="">
        <div class="caption">
          <h3>Nitisaw <br><small>Village Partnership</small></h3>
          <h4><span class="glyphicon glyphicon-map-marker"></span>Nitisaw, Cameroon</h4>
          <p><a href="{{ site.baseurl }}nvp" class="btn btn-default" role="button">Learn More</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- <h2>Soppo Likoko Electricity Project</h2>

  <br>

  <h2>Guatemala Water Project</h2>

  <br>

  <h2>Nigeria Water Project</h2>

  <br>

  <h2>Nitisaw Village Partnership</h2> -->

</div>

<div id="schedule" class="jumbotron jumbotron-custom">
  <h1>Schedule</h1>
  <!-- <iframe src="https://www.google.com/calendar/embed?src=lplaeaaetf890r2hkhdkv3cs7g%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe> -->
  <br>
  <div id="calendar"></div>
</div>

<div id="join" class="jumbotron jumbotron-custom">
  <h1>Join</h1>
  <!-- <h2>Engineers</h2>

  Jill McClary- EWB President 2012 “I joined EWB during my freshman year because I wanted to use my education to make a difference.  By being involved in this organization throughout my four years at Illinois, I made some of my best college friends, learned how to manage and implement projects through real-world experiences, and discovered a passion for research that has significantly influenced my post-graduation professional plans.  Overall, EWB was a fantastic way to spend my undergraduate years, and I wouldn’t change a minute of it!”

  <h2>Non-Engineers</h2>

  Patrick Walsh- former EWB member, Founder of Greenlight Planet - “I was a physics major interested in basic science, not engineering, before I started working with Engineers Without Borders.  EWB forced us to confront realities of the developing world first hand.  We learned, often the hard way, what it takes to execute effective solutions to unfamiliar problems.    EWB was a transformative experience, and the perfect incubator for Greenlight Planet Inc., a company I created in college to offer a solar-powered alternative to kerosene lighting.  Five years later, millions of people in India and Africa use Greenlight’s solar lanterns.  EWB was the beginning.” -->

  <!-- Change the width and height values to suit you best -->
  <div class="typeform-widget" data-url="https://josephmilla.typeform.com/to/bhrwPB" data-text="EWB Registration" style="width:100%;height:600px;"></div>
  <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

</div>

<div id="blog" class="jumbotron jumbotron-custom">
  <h1>Blog</h1>
  <h3>Latest blog posts</h3>
  <div class="posts">
    {% for post in site.posts limit:3 %}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>

        {% if post.content.size > 30 %}
          {{ post.content | strip_html | truncatewords: 30 }}
        {% else %}
          {{ post.content }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <h4>See more</h4>
</div>

<div id="contact" class="jumbotron jumbotron-custom">
  <h1>Contact</h1>

  <h2>Feel free to contact us at</h2>
  <h3>hello@ewb-usa-uiuc.org</h3>
</div>

</center>
