<script src="{{ site.baseurl }}bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="{{ site.baseurl }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}bower_components/moment/moment.js"></script>
<script src="{{ site.baseurl }}bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="{{ site.baseurl }}public/js/onload.js"></script>
<script src="{{ site.baseurl }}public/js/jquery.timeago.js"></script>
<script src="{{ site.baseurl }}public/js/holder.js"></script>
<script src="{{ site.baseurl }}public/js/gcal.js"></script>
<script src="{{ site.baseurl }}public/js/ga.js"></script>
