<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- METADATA -->
  <meta name="description" content="EWB-UIUC is one of the largest Engineers Without Borders student chapters in the USA. Founded in 2004, the chapter has grown to include three international programs in Nigeria, Guatemala and Cameroon, and over 150 active members..."/>
  <meta http-equiv="content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- OPEN GRAPH -->
  <meta property="og:title" content="EWB-UIUC"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="#"/> <!-- 1200 x 630 -->
  <meta property="og:url" content="http://www.ewb-usa-uiuc.org/"/>
  <meta property="og:description" content="EWB-UIUC is one of the largest Engineers Without Borders student chapters in the USA. Founded in 2004, the chapter has grown to include three international programs in Nigeria, Guatemala and Cameroon, and over 150 active members..."/>

  <!-- TWITTER CARD -->
  <meta name="twitter:title" content="EWB-UIUC"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:image" content="#"/> <!-- 120 x 120 -->
  <meta name="twitter:url" content="http://www.ewb-usa-uiuc.org/"/>
  <meta name="twitter:description" content="EWB-UIUC is one of the largest Engineers Without Borders student chapters in the USA. Founded in 2004, the chapter has grown to include three international programs in Nigeria, Guatemala and Cameroon, and over 150 active members..."/>

  <!-- ICONS -->
  <link rel="image_src" href="{{ site.baseurl }}public/icon.png"/>
  <link rel="shortcut icon" href="{{ site.baseurl }}public/icon.png"/>
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}public/icon.png"/>

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}bower_components/bootstrap-material-design/dist/css/material.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}bower_components/bootstrap-material-design/dist/css/material-fullpalette.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}bower_components/bootstrap-material-design/dist/css/ripples.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}bower_components/bootstrap-material-design/dist/css/roboto.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}bower_components/fullcalendar/dist/fullcalendar.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}bower_components/fullcalendar/dist/fullcalendar.print.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/style.css">

  <!-- Fonts -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'> -->

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
