---
layout: default
title: Blog
---
<div class="jumbotron">
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="page-header">
        <article class="post">
          <h1 class="post-title"><b><a href="{{ post.url }}">{{ post.title }}</b></a></h1>
          <h5><time datetime="{{ post.date | date_to_xmlschema }}" class="page-date">{{ post.date | date_to_string }}</time></h5>
          <br>
          {{ post.content }}
          <br><br>
        </article>
      </div>
    {% endfor %}
  </div>

  <center>
    <div class="pagination">
      {% if paginator.next_page %}
        <a href="{{ site.paginate_base }}page{{paginator.next_page}}" class="btn btn-default btn-fab btn-raised mdi-navigation-arrow-back" aria-label="Previous"></a>
        <!-- <a class="pagination-item older" href="{{ site.paginate_base }}page{{paginator.next_page}}" aria-label="Previous">
          Prev
        </a> -->
      {% else %}
        <span class="btn btn-default btn-fab btn-raised mdi-navigation-arrow-back" aria-label="Previous"></span>
        <!-- <span class="pagination-item older" aria-label="Previous">
          Prev
        </span> -->
      {% endif %}

      <!-- {% for i in (1..10) %}
        <a class="pagination-item older" href="{{ site.paginate_base }}page{{ i }}">
          {{ i }}
        </a>
      {% endfor %} -->

      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a href="/blog" class="btn btn-default btn-fab btn-raised mdi-navigation-arrow-forward" aria-label="Next"></a>
          <!-- <a class="pagination-item newer" href="/blog" aria-label="Next">
            Next
          </a> -->
        {% else %}
          <a href="{{ site.paginate_base }}page{{paginator.previous_page}}" class="btn btn-default btn-fab btn-raised mdi-navigation-arrow-forward" aria-label="Next"></a>
          <!-- <a class="pagination-item newer" href="{{ site.paginate_base }}page{{paginator.previous_page}}" aria-label="Next">
            Next
          </a> -->
        {% endif %}
      {% else %}
        <span class="btn btn-default btn-fab btn-raised mdi-navigation-arrow-forward" aria-label="Next"></span>
      {% endif %}
    </div>
  </center>
</div>
