---
layout: default
---

<style>
  .banner {
    height: 550px;
    background: url("{{ site.baseurl }}{{ page.banner }}");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
  }
</style>

<div class="jumbotron">
  <h1>{{ page.title }}</h1>
  <div class="banner" width="100%" height="500"></div>
  <h1><small>{{ page.location}}</small></h1>
  <p>{{ page.info }}</p>

  <h2>Contact</h2>
  <p>{{ page.contact }}</p>

  <h2>Meeting</h2>
  <p>{{ page.meeting }}</p>
  
  <h2>Map</h2>
  <iframe width="100%" height="450" frameborder="0" style="border:0; padding: 20px 0px 20px 0px;" src="https://www.google.com/maps/embed/v1/place?q={{ page.map }}&key=AIzaSyBrWdCHFwbNkPi9fXbN3f8w0fIrXfuHN2U"></iframe>

  {{ content }}

  <h2>Blog</h2>
  <div class="posts">
    {% assign i = 0 %}
    {% for post in site.posts %}
      {% if post.tag == page.tag %}
        {% assign i = i | plus:1 %}
        <div class="page-header">
          <article class="post">
            <h1 class="post-title"><b><a href="{{ post.url }}">{{ post.title }}</b></a></h1>
            <h5><time datetime="{{ post.date | date_to_xmlschema }}" class="page-date">{{ post.date | date_to_string }}</time></h5>
            <br>
            {{ post.content }}
            <br><br>
          </article>
        </div>
      {% endif %}
    {% endfor %}

    {% if i == 0 %}
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Oh snap!</strong> <a href="javascript:void(0)" class="alert-link"></a> Sorry, there's no post here yet.
    </div>
    {% endif %}
  </div>
</div>
